{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
{% load static %}
<section class="categories">
    <div class="container">
        <h2>Категории</h2>
        <div class="categories-list">
             <a href="{% url 'home' %}" class="category-item">Все</a>
             {% for category in categories %}
             <a href="{% url 'items_by_category_page' slug=category.slug %}" class="category-item">{{ category.name }}</a>
             {% endfor %}
         </div>
    </div>
</section>

<section class="offers">
    <div class="container">
        <h2>{{ category.name }}</h2> <!-- Это показывает название выбранной категории -->
        <div class="offer-list">
            {% for item in items %}
            <div class="offer-card">
                <img src="{{ item.image.url }}" alt="offer-photka">
                <div class="offer-card__body">
                    <h3 class="offer-card__title">{{ item.title }}</h3>
                    <h4 class="offer-card__price">
                        {% if item.price == "не указано" %}
                        {{ item.price }} 
                        {% else %}
                        {{ item.price }} &#8376;
                        {% endif %}
                    </h4>
                    <h4 class="offer-card__description">{{ item.description }}</h4> <!-- Исправлена опечатка 'descrition' на 'description' -->
                    <a href="{% url 'item_elem_page' pk=item.pk %}" class="lalala-button">Перейти</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
